<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

title
<%= f.text_field :title %>
body
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>
<% end %>